common --incompatible_allow_tags_propagation
common --enable_bzlmod
common --incompatible_disallow_empty_glob=false # Introduced in Bazel 8.0.0 https://github.com/bazelbuild/bazel/issues/8195
common --enable_workspace=true # Introduced in Bazel 8.0.0 https://github.com/bazelbuild/rules_webtesting/issues/477. aspect-build/rules_lint depends on it. 

build --@aspect_rules_lint//lint:fail_on_violation # fail if linting fails
build --keep_going # continue building after a failure. It goes well with linting errors and CI
build --experimental_remote_merkle_tree_cache
build --experimental_reuse_sandbox_directories
build --heap_dump_on_oom 
build --modify_execution_info=PackageTar=+no-remote
build --remote_local_fallback
build --sandbox_default_allow_network=false
build --verbose_failures
build --cxxopt=-std=c++2c        # C++ - Use C++2c (between 23 and 26)
build --cxxopt=-Wall             # C++ - Enable all warnings
build --cxxopt=-Wpedantic        # C++ - Be pedantic
build --cxxopt=-Wextra           # C++ - Enable extra warnings
build --cxxopt=-Werror           # C++ - Every warning is treated as an error
build --per_file_copt=-third_party/.*,-external/.*@-Werror # Enable -Werror for all our code, but exclude for third-party.
build --per_file_copt=third_party/.*,external/.*@-Wno-error # NOTE: Explicitly disable -Werror because the `-external/.*` filter does not work.
run --verbose_failures

startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

test --build_tests_only
test --incompatible_exclusive_test_sandboxed
test --test_output=errors
test --test_tag_filters=-images
test --test_verbose_timeout_warnings
test --verbose_failures

# C++ llvm
# Not needed after https://github.com/bazelbuild/bazel/issues/7260 is closed
build --incompatible_enable_cc_toolchain_resolution
# For macOS only:
# Needed for Bazel versions before 7.
# Without this, one can use `--linkopt='-undefined dynamic_lookup'`.
# This feature is intentionally not supported on macOS.
build --features=-supports_dynamic_linker
# Not needed after https://github.com/grailbio/bazel-toolchain/pull/229.
build --features=-libtool

try-import %workspace%/.bazelrc.user
